# Archivos de datos gigantes (no subir a GitHub)
X_processed.csv
X_processed.pkl

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Sistema
.DS_Store
Thumbs.db
# ==== Datos procesados gigantes (no subir a Git) ====
X_processed*.csv
X_processed*.pkl
y_labels*.csv
y_labels*.pkl
